.log {
  background-color: #232323;
  color: white;
  width: 320px;
  height: 320px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
.margin {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
